.progress {
	background-color: #ffb144;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	border-radius: 10px;  
}

/* Detail */

.title-main {
	margin-top: 20px;
}

.img-poster {
	margin: 20px 0 40px 0;
}

.detail-kanan .btn {
	width: 100%;
	margin-bottom: 15px;
}

.img-main {
	width: 100%;
	margin: 20px 0 40px 0;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.field_with_errors {
	display: inline;
}

.error_messages {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	font-size: 12px;
}

.error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

.error_messages p {
	margin: 8px 10px;
}

#app {
	width: 100%;
	margin: auto;
	background-color: #f4f4f4;
	position: relative;
}
#flash_notice, #flash_error, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
	margin-right: 150px;
}
#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}
#flash_error, #flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}