<template>
	<div id="app">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<div class="container">
			<center>
				<h1 style="margin-top: 20px;">Movie API</h1>
				<button style="margin-bottom: 20px;" class="btn btn-danger" @click="logout()">Logout</button>
			</center>
			<div class="row">
				<GetFilms v-for="(item, index) in films"  :key="index" :item="item"></GetFilms>
			</div>
		</div>
	</div>
</template>

<script>
	import checkLogin from '@/mixins/checkLogin.js'
	import GetFilms from '../components/GetFilms'
	export default {
		name: 'dashboard',
		mixins: [checkLogin],
		components: {    
			GetFilms
		},
		computed:{
			films () {
				return this.$store.state.dashboard.data.films 
			}
		},
		mounted: function () {
			this.$store.dispatch('dashboard/getFilms')
		},
		methods: {
			logout () {
				this.$store.dispatch('login/logout')
			}
		},
	}
</script>

