<template>
	<div id="app">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<div class="container">
			<GetFilmsDetail></GetFilmsDetail>
		</div>
	</div>
</template>

<script>
	import GetFilmsDetail from '../components/GetFilmsDetail'
	export default {
		name: 'DetailFilm',
		components: {    
			GetFilmsDetail
		},
		data: function () {
			return {
				films:[] 
			}
		}, 
	}
</script>
<style>
.back{
	text-decoration: none!important;
}
</style>