<template>
	<div>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://getbootstrap.com/docs/4.0/examples/floating-labels/floating-labels.css" rel="stylesheet">
		<div class="container">
			<center>
				<div style="width: 50%;">
					<div class="text-center mb-4">
						<img class="mb-4" src="https://1.bp.blogspot.com/-mnrvUAJM4Jg/XAY3h3jSF0I/AAAAAAAAAKk/-Xm2NfN8qUIqk0tBzHVq54SOFsDIXC2twCLcBGAs/s1600/1541375101796.jpg" alt="" width="100" height="100">
						<h1 class="h3 mb-3 font-weight-normal">Please Login to Continue</h1>
					</div>
					<div class="form-label-group">
						<input type="email" id="inputEmail" placeholder="Email address" class="form-control" v-model="email" v-on:keyup="clear()" required autofocus autocomplete="off">
						<label for="inputEmail">Email address</label>
						<div v-if="errors">
							<div v-for="(item, index) in errors.email" :key="index">{{item}}</div>
						</div>
					</div>
					<div class="form-label-group">
						<input type="password" id="inputPassword" placeholder="Password address" class="form-control" v-model="password" v-on:keyup="clear()" required>
						<label for="inputPassword">Password address</label>
						<div v-if="errors">{{errors.password[0]}}</div>
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block" @click="login()">Login</button>
					</div>
					<div v-if="wrongPass">
						{{wrongPass}}
					</div>
				</div>
			</center>
		</div>
	</div>
</template>
<style type="text/css">
input {
	text-align: center;
}
label:hover {
	cursor: text;
}
button:hover {
	cursor: pointer;
}
</style>
<script>
	import checkLogin from '@/mixins/checkLogin.js'

	export default {
		data () {
			return {
				email: '',
				password: ''
			}
		},
		methods: {
			login () {
				const payload = {
					email: this.email,
					password: this.password
				}
				this.$store.dispatch('login/login', payload)
			},
	// untuk clear pesan error, jika inputan di tulis lagi
	clear () {
		this.$store.state.login.data.errors = null
		this.$store.state.login.data.wrongPass = null
	}
},
computed: {
	errors () {
		return this.$store.state.login.data.errors
	},
	wrongPass () {
		return this.$store.state.login.data.wrongPass
	}
},
mixins: [checkLogin]
}
</script>
