<template>
    <div class="col-md-3">
        <div class="card" style="width: 16rem; margin-bottom: 40px;">
            <img :src="'https://image.tmdb.org/t/p/w500' + item.poster_path" height="400px">
            <div class="card-body">
                <h5 style="height: 50px;" class="card-title">{{ item.title }}</h5>
                <p class="card-text"><b>{{ item.vote_average }}</b>☆ - By <b>{{ item.popularity }} Users</b></p>
                <p class="card-text">Released on : {{ item.release_date }}</p>
                <router-link class="btn btn-dark" :to="{name:'detail',params:{id:item.id}}">Movie Detail</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'GetFilms',
        props: {
            item: Object,
            index: Number
        },
    }
</script>