<template>
	<div class="row">
		<div class="col-md-12">
			<h1 class="title-main">{{ films.title }}</h1>
		</div>
		<div class="col-md-9">
			<center><img class="img-main" :src="'https://image.tmdb.org/t/p/w500' + films.backdrop_path"></center>
			<p>Rate : <b>{{ films.vote_average }}/10</b> from <b>{{ films.vote_count }} users</b><span style="float: right;"><b>Popularitas : {{ films.popularity }}</b></span></p>
			<p>{{ films.overview }}</p>
			<p><b>Budget : ${{ films.budget.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  }} <span style="float: right;">Worth : ${{ films.revenue.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}</span></b></p>
			<p>Produksi : {{ films.production_companies[0].name }}</p>
		</div>
		<div class="col-md-3 detail-kanan">
			<img class="img-poster" :src="'https://image.tmdb.org/t/p/w500' + films.poster_path" width="250px">
			<center>
				<button class="btn btn-success">Booking</button>
				<router-link class="btn btn-danger" to="/">Kembali</router-link>
			</center>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'GetFilmsDetail',
		props: {
			film: String,
		},
		computed:{
			films () {
				return this.$store.state.detail.data.films 
			}
		},
		
		mounted: function () {
			const id = this.$route.params.id
			this.$store.dispatch('detail/getFilms', id)
		}

	}
</script>